<hr class="spacer">
<div class="col-gap" fxLayout="row wrap" fxLayoutAlign="center center">

  <div fxFlex.lg="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xl="50" fxFlex.xs="100">
    <h4>Etat Reclamation</h4>
    <form class="example-form">
      <mat-card>
        Attension! L'etat de la reclamation va changer...
      </mat-card>
      <button (click)="dialogRef.close()" class="button-lg" color="accent" mat-raised-button>Submit</button>
      <button (click)="dialogRef.close()" class="button-lg" color="accent" mat-raised-button>Fermer</button>
    </form>
  </div>
</div>
