<div style="margin-left: 22%;margin-right: 5%">
  <div class="row">
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Claims/Month
        </div>
        <div class="card-body">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)" [chartType]="barChartType"
                  [datasets]="barChartData"
                  [labels]="barChartLabels" [legend]="barChartLegend" [options]="barChartOptions"
                  baseChart>
          </canvas>
        </div>
      </div>
    </div>
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Claims/State
        </div>
        <div class="card-body">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"
                  [chartType]="doughnutChartType" [data]="doughnutChartData"
                  [labels]="doughnutChartLabels" baseChart
                  height="180px">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Client Note
        </div>
        <div class="card-body">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)"
                  [chartType]="polarAreaChartType" [data]="polarAreaChartData"
                  [labels]="polarAreaChartLabels" [legend]="polarAreaLegend" baseChart
                  height="130px">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Line Chart
        </div>
        <div class="card-body">
          <canvas (chartClick)="chartClicked($event)" (chartHover)="chartHovered($event)" [chartType]="lineChartType"
                  [colors]="lineChartColors"
                  [datasets]="lineChartData" [labels]="lineChartLabels" [legend]="lineChartLegend"
                  [options]="lineChartOptions" baseChart height="130">
          </canvas>
        </div>
      </div>
    </div>
  </div>

</div>
