<div class="inner-container" style="margin-left: 300px">
  <div class="bg-white final-receipt-page section-gap">
    <div class="account-info">
      <div class="container">
        <div>
          <div class="col-gap" fxLayout="row wrap">

            <div class="user-content-wrapper" fxFlex.lg="70" fxFlex.md="70" fxFlex.sm="100" fxFlex.xl="70"
                 fxFlex.xs="100">
              <div class="tab-container">
                <mat-card>
                  <div fxLayoutAlign="flex-start">
                    <div class="detail-content mb-5">
                      <h2 class="font-normal">{{claim.titre}}</h2>
                      <h5 class="font-normal"
                          style="color: #828282">User: {{claim.personne.nom}} {{claim.personne.prenom}}</h5>
                      <p>
                        <span class="mr-2"><strong>Etat: </strong></span>
                        <span class="accent-color">{{claim.etat}}</span></p>
                      <p>
                        <span class="mr-2"><strong>Description: </strong></span>
                        <span>{{claim.description}}</span></p>
                      <p>
                        <span
                          class="mr-2"><strong>Date de Reclamation: </strong></span>
                        <span>{{claim.date| date:'dd.MM.yyyy'}}</span>
                        <embryo-TimerCountDown [dateTime]="counterDateTime"></embryo-TimerCountDown>
                      </p>
                      <span
                        class="ais-HierarchicalMenu-label">TAG: </span>
                      <span *ngFor=" let t of  Tags">
                      <a class="ais-HierarchicalMenu-link" (click)="getClaimsByTag(t)">
                        <span class="ais-HierarchicalMenu-count">{{t}}</span></a>
                    </span>
                    </div>
                  </div>
                  <button class="button-grey mat-raised-button mat-button-base ng-star-inserted" mat-raised-button=""
                          style="margin-left: 80%;"><span
                    class="mat-button-wrapper"  (click)="focusComment()">Traiter</span>
                  </button>
                </mat-card>
                <div>
                  <br>
                  <br>
                  <br>
                  <mat-card class="register-form form-margin mat-card">
                    <h4>Commentaires:</h4>
                    <form (ngSubmit)="addComment(comment)" [hidden]="c.etat=='TRAITEE'">
                      <div class="mb-4">
                        <mat-form-field
                          class="w-100 mat-form-field ng-tns-c26-65 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder">
                          <div class="mat-form-field-wrapper">
                            <div class="mat-form-field-flex">
                              <div class="mat-form-field-infix">
                                <textarea [(ngModel)]="comment.continu" aria-invalid="false" aria-required="true" class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
                                          elasticaria-placeholder=""
                                          id="mat-input-19"
                                          matInput="" name="fff"
                                          ng-reflect-placeholder="Ecrire votre commentaire ici ............" placeholder="Ecrire votre commentaire ici ............"
                                          required="" rows="6" type="text" #name commentInput >
                                </textarea>
                              </div>
                            </div>

                          </div>
                        </mat-form-field>
                      </div>
                      <button class="button-lg mb-3 mat-raised-button mat-button-base mat-accent" color="accent"
                              mat-raised-button=""
                              ng-reflect-color="accent" type="submit" (click)="load()"><span
                        class="mat-button-wrapper">Submit</span>
                        <div class="mat-button-ripple mat-ripple" matripple="" ng-reflect-centered="false"
                             ng-reflect-disabled="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
                        <div class="mat-button-focus-overlay"></div>
                      </button>
                    </form>
                    <div fxLayout="row wrap" fxLayoutAlign="start center">
                      <div class="mb-3" fxFlex.sm="20" fxFlex.xs="100" fxFlex.md="15" fxFlex.lg="15" fxFlex.xl="15">
                        <img class="round-radius" src="assets/images/user-1.jpg" width="150" alt="author detail">
                      </div>
                      <div fxFlex.sm="80" fxFlex.xs="100" fxFlex.md="80" fxFlex.lg="80" fxFlex.xl="80" class="px-4 mb-3">
                        <h4>{{claim.personne.prenom}}</h4>
                        <p>{{claim.description}}
                        </p>
                      </div>
                    </div>
                    <app-claim-comment [hidden]="c.etat=='TRAITEE'" ></app-claim-comment>

                  </mat-card>
                </div>


              </div>
            </div>

            <div class="user-content-wrapper" fxFlex.lg="30" fxFlex.md="30" fxFlex.sm="100" fxFlex.xl="30"
                 fxFlex.xs="100">
              <div class="tab-container">
                <mat-card>
                  <div fxLayoutAlign="flex-start">
                    <h5 class="font-normal" style="color: #828282">Other Reclamation
                      of {{claim.personne.nom}} {{claim.personne.prenom}}</h5>
                  </div>
                </mat-card>
                <div *ngFor="let c of claims; let i=index">
                  <br>
                  <mat-card *ngIf="i<4">
                    <div fxLayoutAlign="flex-start">
                      <div class="detail-content mb-5">
                        <h2 class="font-normal">{{c.titre}}</h2>
                        <p>
                          <span class="mr-2"><strong>Etat: </strong></span>
                          <span class="accent-color">{{c.etat}}</span></p>
                        <p>
                        <span
                          class="mr-2"><strong>Date de Reclamation: </strong></span>
                          <span>{{c.date| date:'dd.MM.yyyy'}}</span></p>
                        <div class="blog-nav p-4" fxLayoutAlign="space-between"
                             ng-reflect-fx-layout-align="space-between"
                             style="place-content: stretch space-between; align-items: stretch; flex-direction: column; box-sizing: border-box; display: flex;">
                           <span
                             class="ais-HierarchicalMenu-label"><strong>TAG: </strong></span>

                          <a class="ais-HierarchicalMenu-link" (click)="getClaimsByTag(c.etiquette)">
                            <span class="ais-HierarchicalMenu-count">#{{c.etiquette}}</span></a></div>
                      </div>
                    </div>
                    <div class="testimonial-item">
                      <div class="user-content"
                           fxlayoutalign="start right"
                           fxlayoutgap="30px" ng-reflect-fx-layout-align="start right"
                           ng-reflect-fx-layout-gap="30px"
                           style="place-content: center flex-start; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                        <div class="user-thumb">
                          <img alt="user image" height="50" src="assets/images/user-1.jpg" width="50"></div>
                        <div class="user-info"><h5 class="mb-0">{{c.personne.nom}} {{c.personne.prenom}} </h5>
                          <p class="text-md text-muted"><a href="mailto:{{c.personne.email}}">
                            {{c.personne.email}}
                          </a></p>
                        </div>
                      </div>
                    </div>
                  </mat-card>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  <script>
    function quicklink(){
        $('#comm').focus();
    }
</script>
