<ngx-loading-bar></ngx-loading-bar>

<div style="margin-left: 100px"></div>
<router-outlet *ngIf="show " class=""></router-outlet>
<app-sidebar *ngIf="show "></app-sidebar>
<HeaderOne *ngIf="!show "></HeaderOne>



<!--<app-agent></app-agent> -->
<!--<app-header-back></app-header-back>-->
<!-- <app-claim></app-claim> -->

<app-claim-form *ngIf="!show "></app-claim-form>
